.left{
	text-align:left !important;
	padding:0px !important;
	font-size: 16px;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

td {
	  padding-right:0px !important;
	  font-size: 16px;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  }

  .highlight{
    font-weight: bold;
    background: lightblue;
  }
