<div class="row">
  <div class="col" style="text-align: left; margin:10px auto;">
	  <h4>  Credit Scorecard</h4>
  </div>
</div>
<h4>NIKE, Inc</h4>
<div class="content" style="width:100%;text-align:center;">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
	<div style="border-radius:25px">
		<h4 style="background:#164a5b;color:white;text-align:center;vertical-align:middle;border-top-left-radius:15px;border-top-right-radius:15px;height:50px;padding-top:10px" >Credit Scorecard </h4>
</div>
        <div class=" card-body">
			
            <table class=" table tablesorter">
              <thead>
                <tr style="color:black;">
                  
                </tr>
		<tr style="text-align:center;font-weight:bold">
				<td></td>
				<td></td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>Factor<br/>Score</td>
				<td>Factor<br/>Weight</td>
				</tr>
				
 <tr style="font-weight:bold;padding-bottom:30px;">
      <td class="left" style="vertical-align:middle">FIRST TIER FACTORS</td>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  </tr>
    <tr>
	
      <td class="left" style="vertical-align:middle">Cyclicality/Resiliency</td>
      <td></td>
	  <td>Cyclical/Peak</td>
	  <td>Above Avg Cyclicality </td>
	  <td> Moderate </td>	
	  <td style="font-weight:bold;background: blanchedalmond;">Below Avg Cyclicality </td>
	  <td>Acyclical/Resilient</td> 
		<td>4.0</td>
	  <td>15.0%</td>
    </tr>
   <tr>
	
      <td class="left" style="vertical-align:middle">FCF as % of Total Debt</td>
      <td> </td>
	  <td>< 5.0% </td>
	  <td>5.0 - 8.0% </td>
	  <td> 8.0 - 11.0%  </td>
	  <td>11.0 - 14.0% </td>
	  <td style="font-weight:bold;background: blanchedalmond;"> 14% </td>
	  <td>4.0</td>
	  <td>15.0%</td>
    </tr>
   <tr>
	
      <td class="left" style="vertical-align:middle"> Customer Concentration </td>
      <td></td>
      <td>High  </td>
	  <td>Several Large </td>
	  <td> Moderate  </td>
	  <td>Some </td>
	  <td style="font-weight:bold;background: blanchedalmond;" >Low </td>
		<td>4.0</td>
	  <td>15.0%</td>
    </tr>
   <tr>
	
      <td class="left" style="font-weight:bold;vertical-align:middle" >OTHER FACTORS</td>
      <td></td>
      <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td> </td>
	  <td>55%</td>
    </tr>
   <tr>
	
      <td class="left"style="vertical-align:middle">Company Size (EBITDA $Bn)</td>
      <td></td>
      <td>< $4 bn </td>
	  <td style="font-weight:bold;background: blanchedalmond;" >$4 - 7 bn </td>
	  <td> $7 - $10 bn </td>
	  <td>$10 - $13 bn </td>
	  <td>> $13 bn </td>
	  <td>2.0 </td>
	  <td>5.5%</td>
    </tr>
     <tr>
	
      <td class="left"style="vertical-align:middle">Company EBITDA Margins (avg last three years)</td>
      <td></td>
      <td>< 10% </td>
	  <td style="font-weight:bold;background: blanchedalmond;" >10% - 20% </td>
	  <td> 20% - 30% </td>
	  <td>30% - 40% </td>
	  <td>> 40%</td>
	  <td>2.0 </td>
	  <td>5.5%</td>
    </tr>
	<tr>
	
      <td class="left" style="vertical-align:middle">Leverage (Total Debt/EBITDA)</td>
      <td></td>
      <td>> 5.25x </td>
	  <td>4.50 - 5.25x</td>
	  <td>  3.75 - 4.50x  </td>
	  <td>3.00 - 3.75x </td>
	  <td style="font-weight:bold;background: blanchedalmond;">< 3.00x</td>
	  <td>5.0 </td>
	  <td>5.5%</td>
    </tr>
	
		<tr>
	
      <td class="left" style="vertical-align:middle">Debt/Book Capitalization</td>
	  <td></td>
      <td>> 55%</td>
	  <td>50 - 55%</td>
	  <td>  45- 50%  </td>
	  <td>40 - 45% </td>
	  <td style="font-weight:bold;background: blanchedalmond;">< 40</td>
	  <td>5.0 </td>
	  <td>5.5%</td>
    </tr>
	<tr>
	
      <td class="left" style="vertical-align:middle">Company Growth (two year Rev. CAGR)</td>
	  <td></td>
      <td>Declining</td>
	  <td>Flat</td>
	  <td style="font-weight:bold;background: blanchedalmond;">   0 - 10%   </td>
	  <td>10 - 20% </td>
	  <td>>20%</td>
	  <td>3.0 </td>
	  <td>5.5%</td>
    </tr>
	<tr>
	
      <td class="left" style="vertical-align:middle">Company Growth (two year EBITDA CAGR)</td>
	  <td></td>
      <td>Declining</td>
	  <td>Flat</td>
	  <td style="font-weight:bold;background: blanchedalmond;">0 - 10%   </td>
	  <td>10 - 20% </td>
	  <td>>20%</td>
	  <td>3.0 </td>
	  <td>5.5%</td>
    </tr>
	
	<tr>
	
      <td class="left" style="vertical-align:middle">Industry Growth/Outlook</td>
	  <td></td>
      <td>Declining/Poor</td>
	  <td>Flat/Questionable</td>
	  <td> GDP/Average  </td>
	  <td style="font-weight:bold;background: blanchedalmond;">< 10% / Above Avg</td>
	  <td>> 10% / Excellent</td>
	  <td>4.0 </td>
	  <td>5.5%</td>
    </tr>
	
	<tr>
	
      <td class="left" style="vertical-align:middle">Market Position</td>
	  <td></td>
      <td>Poor</td>
	  <td>Small</td>
	  <td> Mainstream/Avg </td>
	  <td>Large</td>
	  <td style="font-weight:bold;background: blanchedalmond;">Leader</td>
	  <td>5.0 </td>
	  <td>5.5%</td>
    </tr>
	
	
		<tr>
	
      <td class="left" style="vertical-align:middle">Quality of Customer Base</td>
	  <td></td>
      <td>Low</td>
	  <td>Below Average</td>
	  <td>  Average </td>
	  <td style="font-weight:bold;background: blanchedalmond;">Above Average</td>
	  <td>Very Strong</td>
	  <td>4.0 </td>
	  <td>5.5%</td>
    </tr>
	
	<tr>
	
      <td class="left" style="vertical-align:middle">Recurring/Re-occuring Revenue </td>
	  <td></td>
      <td>Non-/Project-Based</td>
	  <td>Below Average</td>
	  <td>  Average </td>
	  <td style="font-weight:bold;background: blanchedalmond;">Above Average</td>
	  <td>Highly-Recurring</td>
	  <td>4.0 </td>
	  <td>5.5%</td>
    </tr>
    <tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td style="font-weight:bold;background: blanchedalmond;">Overall Credit Score</td>
	    <td style="font-weight:bold;background: blanchedalmond;">4.14</td>
    </tr>
     
              </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
