<div class="container-fluid">
    <div class="row">
        <div class="col content" style="padding: 0;">
            <ng-container [ngSwitch] = "index" >

                <ng-container *ngSwitchCase = "1">
                    <div class="row label-margin header" style="margin-top: 18%;">
                        <div class="col" style="text-align: center;">
                            <span>
                               Welcome to the RMI Insights Financial Modeling Automation Platform!
                            </span>
                        </div>
                    </div>
                    <div class="row label-margin">
                        <div class="col-2"></div>
                        <div class="col">
                           <span> Please click on the below link to change your password: <br> <span style="color: rgb(19, 60, 182); cursor: pointer;" (click) = "changePassword()"><u>Change Password</u></span></span>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row label-margin">
                        <div class="col-2"></div>
                        <div class="col">
                            {{ progressMsg }}
                        </div>
                        <div class="col-2"></div>
                    </div>

                </ng-container>
    
                <ng-container *ngSwitchCase = "2"> 
                    <div class="row label-margin">
                        <div class="col">
                            <span>To view companies click on&nbsp;<b>My Companies</b>&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <img class="img-margin" src="../../../assets/images/MyCompanies.png" alt="My Companies" width="80%" (load) = "imageLoaded()" loading="lazy">
                    </div>
                </ng-container>
        
                <ng-container *ngSwitchCase = "3" >
                    <div class="row label-margin">
                        <div class="col">
				<span>To import a new company, please name the company and fill out basic details about it before hitting the <b>Import</b> button </span>                       
                        </div>
                    </div>
                    <div class="row">
                       <img class="img-margin" src="../../../assets/images/ImportNewStatement.png" alt="Upload" width="80%" (load) = "imageLoaded()" loading="lazy">
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase = "4" >
                    <div class="row label-margin">
                        <div class="col">
				<span>To create a new operating scenario for a company, click on <b>Add Scenario</b> and adjust the key operational-level drivers of the business   </span>
                        </div>
                    </div>
                    <div class="row">
                       <img class="img-margin" src="../../../assets/images/RMIEditScenario.png" alt="RMI Insights Account" width="80%" height="20%" (load) = "imageLoaded()" loading="lazy">
                    </div>    
                </ng-container>  

                <ng-container *ngSwitchCase = "5" >
                    <div class="row label-margin">
                        <div class="col">
				<span> To save an scenario that you just created, please click on the <b>Save Scenario</b> icon  </span>                     
                        </div>
                    </div>
                    <div class="row">
                       <img class="img-margin" src="../../../assets/images/RMISaveScenario.png" alt="RMI Insights Account" width="80%" height="20%" (load) = "imageLoaded()" loading="lazy">
                    </div>    
                </ng-container>  
        <ng-container *ngSwitchCase = "6" >
                    <div class="row label-margin">
                        <div class="col">
                            <span>As you have just seen, Scenario Analysis is your 'Mission Control' for the RMI Insights platform. Any operating scenarios that you create here will be accessible throughout the rest of the platform's modules</span>
                        </div>
                    </div>
                    <div class="row">
                       <img class="img-margin" src="../../../assets/images/RMIDashboard.png" alt="RMI Dashboard" width="80%" (load) = "imageLoaded()" loading="lazy">
                    </div>    
                </ng-container>
                
                <ng-container *ngSwitchCase = "7" >
                    <div class="row label-margin">
                        <div class="col">
                            <span>To manage your account information, click on  <b>RMI Insights Account</b>  </span>
                        </div>
                    </div>
                    <div class="row">
                       <img class="img-margin" src="../../../assets/images/RMIInsightsAccount.png" alt="RMI Insights Account" width="80%" (load) = "imageLoaded()" loading="lazy">
                    </div>    
                </ng-container>  
                    
            </ng-container>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col" style="text-align: center;">
            <button mat-raised-button class="skip" (click) = "goToPrevSlide()"  *ngIf = "index != 1">
                Back
            </button>
            <button mat-raised-button [class.next] ="index != 1"  (click) = "goToNextSlide()" *ngIf = "index < 7" [class.display] = "index == 1">
                Next
            </button>

            <button mat-raised-button class="next" (click) = "closeTutDialog()" *ngIf = "index == 7">
                Close
            </button>
            
        </div>
        <div class="col"></div>
    </div>

</div>


  
