<div fxLayout="row" fxLayoutAlign="start center" style="margin-bottom:10px;margin-top:10px">
<h4>User Management</h4>

<!--<div fxLayout="row" fxFlex fxLayoutAlign="end center" fxLayoutGap="5px" *ngIf="authService.currentUserRoles?.indexOf('Admin') >=0 || authService.currentUserRoles?.indexOf('SuperAdmin') >=0">

			<span (click)="openPopUpModal(addUser); getShowAddUser('add')" class="material-icons" style="cursor: pointer;"
				style="font-size: 40px;width:55px;height:45px">
				person_add
			</span>

</div>-->
</div>
<div class="container" style="padding: 0; margin: 0; width: 100%;max-width: 100%;">
	<div class="row">
		<div class="col">
			<!-- <button (click) = "changePas()">
				Change Password
			</button> -->
		</div>

		<div class="col-1" *ngIf="authService.currentUserRoles?.indexOf('Admin') >=0 || authService.currentUserRoles?.indexOf('SuperAdmin') >=0"

			>

			<span (click)="openPopUpModal(addUser); getShowAddUser('add')" class="material-icons"
			style="cursor: pointer;font-size: 40px;width:55px;height:45px;margin-left:10px;vertical-align:middle" matTooltip="Add User">
				person_add
			</span>

		</div>
	</div>
</div>

<div class="container" style="padding: 0; margin: 0; width: 100%;background:#fff;max-width: 100%;">
<!--	<div class="row">
		<div class="col"></div>

</div>-->

	<mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>
	<div class="mat-elevation-z8 table-container" style="border-radius:5px">
		<ng-template [ngIf]="usersList || loggedInUserDetails ">
			<table class="table-borderless" class="usersList" style="border-radius:5px">
				<thead class="table-head" style="border-radius:5px">
					<tr class="table-row" style="border-radius:5px">
						<th style="border-top-left-radius:5px;width: 100px;"></th>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
						<th>Save</th>
						<th style="border-top-right-radius:5px">Delete</th>
					</tr>
				</thead>
				<tbody style="background:#fff">
					<tr>
						<td style="width: 75px;"> <img [src]="authService.userPicture"
								[title]="loggedInUserDetails.nickname" style="border-radius:50px;height:50px;margin-left:15px"></td>
						<td>
							<span class="nameTable">{{ loggedInUserDetails.nickname }}</span>

						</td>
						<td>
							{{ loggedInUserDetails.email }}
						</td>
						<td style="font-size:14px">
							{{loggedInUserDetails.role }}
						</td>
						<td>

						</td>
					</tr>

					<tr
						*ngFor="let user of filteredListOfUsers | paginate: { itemsPerPage: 15, currentPage: currentPage },let rowIndex=index">
						<td style="width: 75px;"> <img [src]="user.picture" [title]="user.nickname"
								style="border-radius:50px;height:50px;margin-left: 15px"></td>
						<td>
							<span class="nameTable">{{ user.nickname }}</span>
						</td>
						<td>
							{{ user.email }}
						</td>
						<td>
							<mat-form-field style="width: 200px">

								<mat-select [(ngModel)]="user?.app_metadata?.roles[0]"
									[disabled]=" user?.app_metadata?.roles[0] == 'SuperAdmin' ">

									<mat-option [value]="select">Select</mat-option>
									<ng-template ngFor [ngForOf]="authService.roleIds" let-roleObj let-rowIndex="index">
										<mat-option (click)="addRoleToUser(roleObj.name,user)" *ngIf = "roleObj"
											[disabled]="roleObj.name == 'SuperAdmin'" [value]="roleObj.name">
											{{ roleObj.name}}
										</mat-option>
									</ng-template>
								</mat-select>


								</mat-form-field>
							</td>

							<td>

								<mat-icon (click)="assignRoleToUser(user)" style="cursor: pointer;margin-right: 25px;">save</mat-icon>

						</td>
						<td>
							<span class="material-icons cursor" (click)="confirmDeleteUser(user)" style="margin-right: 15px;">
								delete
							</span>
						</td>
					</tr>

				</tbody>
			</table>
			</ng-template>
			<pagination-controls (pageChange)="currentPage = $event" [autoHide] = "true"></pagination-controls>
			<!-- <div class="row">
                    <ng-template ngFor [ngForOf] = "usersList" let-user>
                        <div class="card col-4">
                            <div class="card-body">
                                <img class="card-img-top" src="" alt="Card image cap">
                                <h5 class="card-title"> {{ user.nickname }} </h5>
                                <p class="card-text"> {{ user.email }} </p>
                                <a href="#" class="btn btn-primary">  </a>
                            </div>
                        </div>
                    </ng-template>
                </div> -->
		
	</div>
</div>

<ng-template #addUser let-createAddUser>
	<div class="modal-header"
		style="text-align: center; background-color: #164a5b; border-top-left-radius: 15px; border-top-right-radius: 15px;">
		<h4 class="modal-title" style="color: #fff; margin: 0 auto;">Invite User</h4>
		<!-- <button type="submit" class="close" aria-label="Close" (click)="createAddUser.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
	</div>

	<div class="modal-body" style="height: 300px;">
		<div class="row user-card">
			<div class="col">
				<p style="text-align:center">Invite a new user by providing the Email ID and assigning a Role </p>
				<mat-form-field class="row container-field">
					<mat-label>Email</mat-label>
					<input type="email" matInput [(ngModel)]="user.email" name="user-email" placeholder="Email" />
					<!-- <mat-icon matSuffix [matTooltip]="emailToolTip" [matTooltipPosition]='right'>
                        info
                    </mat-icon> -->
				</mat-form-field>

				<div class="row" style="margin: 5px 10px 20px -35px;">
					<div class="col-2"></div>
					<div class="col-3" style="padding-left: 0;">
						Role :
					</div>
					<div class="col">
						<mat-radio-button name="adjustmentFactorSelection" style="margin-right: 50px;"
							(change)="assignedRole = 'User'" [checked]="assignedRole === 'User'">User</mat-radio-button>
						<mat-radio-button name="adjustmentFactorSelection" (change)="assignedRole = 'Admin'"
							[checked]="assignedRole === 'Admin'">Admin</mat-radio-button>
					</div>
				</div>



                <!-- <mat-form-field class="row container-field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [(ngModel)]="user.password" name="password"
                        placeholder="Password" />
                    <mat-icon matSuffix [matTooltip]="passwordToolTip" [matTooltipPosition]="'left'">
                        info
                    </mat-icon>
                </mat-form-field> -->
				<div class="row">
					<div class="col-2"></div>
					<div class="col" style="text-align: center;">
						<button mat-raised-button [disabled]="!user.email"
							(click)="createUser(); createAddUser.close('Close click')" class="create">
							Invite
						</button>
						<button mat-raised-button (click)="createAddUser.close('Close click')" ngbAutofocus
							class="cancel">
							Cancel
						</button>
					</div>
					<div class="col-2"></div>

				</div>
			</div>

        </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="createUser.close('Close click')">Close</button>
    </div> -->
</ng-template>
