p{
    font-size: 18px;
}

.header{
    margin-top:0px;
    padding-top:0px;
}
.show{
    display: none;
}

.col-height{
    height: 180px;
}
.material-icons{
    font-size: xx-large;
    cursor: pointer;
}
