<div fxLayout="row" class="header">
  <div fxLayout="row" fxLayoutAlign="start center">
    <span style="font-weight:bold">{{ selectedCompanyName }} </span>
  </div>
  <div fxLayout="row" fxFlex fxLayoutAlign="end center" fxLayoutGap="5px">
    <button mat-button [matMenuTriggerFor]="below">
      Scenario {{ selectedScenario }} <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #below="matMenu" yPosition="below">
      <button mat-menu-item *ngFor="let index of scenarioArray; let indexOfelement=index;"
        (click)="changeScenario(index)">
        <span>Scenario {{index}}</span>
      </button>
    </mat-menu>
  </div>
</div>
<app-profitability-ratios [loading]="isLoading" [actuals]="actuals" [projections]="projections">
</app-profitability-ratios>
<app-return-ratios [loading]="isLoading" [actuals]="actuals" [projections]="projections"></app-return-ratios>
<app-liquidity-ratios [loading]="isLoading" [actuals]="actuals" [projections]="projections"></app-liquidity-ratios>
<app-solvency-ratios [loading]="isLoading" [actuals]="actuals" [projections]="projections"></app-solvency-ratios>