<!-- <div class=" row file-drop-area">
  <span class="fake-btn">Choose file</span>
  <br>
  <br>
  <span class="or">
    or
  </span>
  <span class="file-msg">{{
    file ? file.name : "Drop file here"
  }}</span>
  <input class="file-input" type="file" #uploadFile/>
</div> -->

<div class=" row file-drop-area">
  <div class="col">
    <div class="row fake-btn">
      <span>
        Choose file
      </span>
    </div>
   
    <div class="row or">
      <span>
        or
      </span>
    </div>
    <div class="row file-msg">
      <span>
        {{ file ? file.name : "Drop file here" }}
      </span>
    </div>
    <input class="file-input" type="file" #uploadFile />
  </div>
</div>