@import url("https://fonts.googleapis.com/css?family=Lato:400");

.file-drop-area {
  border: 1px dashed #c9c9c9;
  border-radius: 3px;
  position: relative;
  // max-width: 250px;
  width: 370px;
  height: 250px;
  margin: 0 auto;
  padding: 50px 40px 50px;
  transition: 0.2s;
}

.file-drop-area.is-active {
  background-color: #3f4069;
}

.or span{
  margin: 20px auto;
}

.fake-btn {
  background-color: #ececec;
  border: 1px solid #9e9ec4;
  border-radius: 3px;
  padding: 8px 15px;
  margin: auto 80px;
  font-size: 12px;
  text-transform: capitalize;
  // margin-left: 28%;
  // position: absolute;
  // top: 70px;
  // left: 135px;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  width: 100%;
  // margin-left: 30%;
  // position: absolute;
  //   top: 150px;
  //   left: 27px;
    font-size: 16px;
  margin: auto;
//   overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  // max-width: calc(100% - 130px);
  // vertical-align: middle;
  text-align: center;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-input:focus {
  outline: none;
}