@import url("https://fonts.googleapis.com/css?family=Lato:400", 300, 700);

.file-drop-area {
  border: 1px dashed #c9c9c9;
  border-radius: 3px;
  position: relative;
  max-width: 250px;
  margin: 0 auto;
  padding: 50px 40px 50px;
  transition: 0.2s;
}

.file-drop-area.is-active {
  background-color: #3f4069;
}

.fake-btn {
  background-color: #ececec;
  border: 1px solid #9e9ec4;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 28%;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  margin-left: 30%;

//   overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
  text-align: center;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-input:focus {
  outline: none;
}