/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  background-color: #d3e5eb;
  .profile-page {
    .tel-input-container {
      .mat-form-field-label {
        padding-left: 52px !important;
      }
    }

    .mat-figure {
      align-items: unset;
      margin-top: 30px;
      height: fit-content;
    }
  }
}
/* .mat-drawer-inner-container {
  overflow: hidden !important;
} */
.text-center {
  text-align: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
