/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  background-color: #d3e5eb;
  .profile-page {
    .tel-input-container {
      .mat-form-field-label {
        padding-left: 52px !important;
      }
    }

    .mat-figure {
      align-items: unset;
      margin-top: 30px;
      height: fit-content;
    }
  }
}
/* .mat-drawer-inner-container {
  overflow: hidden !important;
} */
.text-center {
  text-align: center !important;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.mat-header-row {
  height: 56px;
}
//
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 24px;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
tr.mat-footer-row,
tr.mat-row {
  height: 48px;
}

#loader-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loader {
  z-index: 1;
  // width: 150px;
  // height: 150px;
  margin: 0;
  border: 10px solid #a5a0a0;
  border-radius: 50%;
  border-top: 10px solid #164A5B;
  border-bottom: 10px solid #164A5B;
  overflow-y: hidden;
  // width: 120px;
  // height: 120px;
  width: 75px;
  height: 75px;
  // -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  
}

// @-webkit-keyframes spin {
//   0% { -webkit-transform: rotate(0deg); }
//   100% { -webkit-transform: rotate(360deg); }
// }

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
    transition: .5s;
  }
  100% { 
    transform: rotate(360deg); 
    transition: .5s;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
