table {
  width: 100%;
}
th {
  font-size: 14px;
  color: #ffffff;
}

.mat-header-row {
  background: #164a5b;
}
p {
  font-size: 18px;
}
.increment {
  color: green;
  font-weight: bold;
}
.decrement {
  color: red;
  font-weight: bold;
}

.table-container {
  border-radius: 5px;
  overflow: hidden;
}
